// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//Portagro color pallete
$bege: #fbf5f3;
$salmao: #a18c8c;
$escuro: #424c55;
$verdeClaro: #8daa9d;
$verdeEscuro: #7b886b;
$verdeLogo: #21a56c;

//Map color pallete
$mapVerde: #999965;
$mapAzul: #66cbff;
$mapVermelho: #ff3334;
$mapLaranja: #ff9934;
$mapRosa: #cb99cc;
$mapAmarelo: #ff3;

$claro: #f8f9fa;
