@import "variables";
@import "mixin";

div#relatorios{
    display: flex;
    position: absolute;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-flow: row;
    text-align: center;
    flex-wrap: wrap;
    div{
        flex: content;
    }
}
